/* Sign in ----*/
.sign-in{
    padding:5px 18px;
    border-radius:20px;
    border: 1px solid black;
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
    
  }
  .sign-in:hover{
    background-color: #0000000F;
  }
  .sign-out{
    padding:5px 18px;
    border-radius:20px;
    border: 1px solid black;
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    color: white;
    background-color: black;
  }
  .sign-out:hover{
    background-color: #000000B3;
  }
  .account{
    padding:5px 18px;
    border-radius:20px;
    border: 1px solid black;
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
  }
  .account:hover{
    background-color: #0000000F;
  }
  .create-account{
    padding:5px 18px;
    border-radius:20px;
    border: 1px solid #00A862;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Noto Sans JP', sans-serif; 
    font-size: 14px;
    color: white;
    background-color: #00A862;
    letter-spacing: 1px;
  }

        /* --- card*/

        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 600px;
          margin: auto;
          text-align: none;
          align: center;
          border-radius: 15px;
          border: 0px solid white;
          margin-bottom: 50px;
        }

        header-new{
          text-align:center; 
          font-family: 'Noto Sans JP', sans-serif; 
          font-size: 22px;
        }


        .card-join {
          max-width: 600px;
          margin: auto;
          text-align: center;
          align: center;
          border-radius: 15px;
          margin-bottom: 50px;
          background-color: #D4E9E254;
        }
        .card-join-header {
          text-transform: uppercase;
          text-align:center; 
          font-family: 'Asap', sans-serif;
          font-size: 18px;
          font-weight: bold;
          color: #006400;
        }


        .join-now{
          padding:5px 18px;
          border-radius:20px;
          border: 1px solid #006400;
          font-family: 'Asap', sans-serif;
          font-size: 14px;
          color: black;
          background-color: white;
          
        }

        .join-now:hover{
          background-color: #00824814;
        }
        .carousel .carousel-item {
          width: 1420px;
          height: 364px;
        }
        
        .carousel-item img {
            top: 0;
            left: 0;
            min-width: 1420px;
            min-height: 364px;
        }
        .carousel-inner img {
          width: 100%;
          height: 100%;
        }
  
        .add-cart{
          padding:5px 18px;
          border-radius:5px;
          font-family: 'Asap', sans-serif;
          font-size: 14px;
          color: white;
          background-color: Black;
          
        }
